html {
    font-family: "Trebuchet MS", Helvetica;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica;
    color: #000000;
}
.article-pad {
    width: 94%;
    margin: 0 auto;
    max-width: 750px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-body {
    line-height: 1.66667;
    margin: 30px 0;
}

@media (max-width: 1010px) {
    .article-body > section {
        padding-right: inherit;
    }
}

.hero-img {
    width: 100%;
    margin-bottom: 25px;
    /*margin-top: 15px;*/
    display: block;
    height: auto;

}

#hero {
    margin: auto;
    width: 100%;
    height: auto;
}

.article-head {
    width: 94%;
    margin: 0 auto;
    max-width: 750px;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 32px;
}

.article-body > section {
    width: 94%;
    margin: 0 auto;
    max-width: 750px;
}

h1, h2, h3, h4 {
    text-align: left;
}

h1 {
    font-size: 2.77778rem;
    line-height: 1.04;
    margin-bottom: 10px;
    margin-top: 0;
}

#subhead {
    font-size: 1.11111rem;
    line-height: 1.2;
    font-weight: 300;
    margin: 0 0 10px;
}


#header-content {
    font-weight: bold;
    font-style: italic;
}

#indent {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2.5em;
    margin-left: 2.5em;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* --- DROPCAP ---*/
.dropcap {
    float: left;
    /* width: 0.7em; */
    font-size: 300%;
    line-height: 80%;
    font-weight: bold;
}

.dropcapword {
    width: 0.7em;
    font-size: 150%;
    line-height: 80%;
    font-weight: bold;
}

.dropcap-intext {
    float: left;
    /* width: 0.7em; */
    font-size: 175%;
    line-height: 80%;
    font-weight: bold;
}

.dropcap-intext-word {
    width: 0.7em;
    font-size: 125%;
    line-height: 80%;
    font-weight: bold;
}

/* --- FOOTER --- */
.footpad {
    padding: 15px;
}

.footer {
    position: absolute;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
}

.icon-box {
    padding: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.insta,
.youtube,
.email,
.twitter {
    float: right;
}

.footer-content-insta,
.footer-content-youtube,
.footer-content-email,
.footer-content-twitter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#footer-insta,
#footer-youtube,
#footer-email,
#footer-twitter {
    position: relative;
    display: inline-block;
    max-width: 50%;
    height: auto;
    padding: 2px;
}

.insta:hover,
.youtube:hover,
.email:hover,
.twitter:hover {
    opacity: 0.5;
    color: #979696;
}
