/* Accordion Styling */
/*----- Accordion -----*/
.accordion, .accordion *,
.accordion-red, .accordion *,
.accordion-blue, .accordion *,
.accordion-green, .accordion *,
.accordion-purple, .accordion *,
.accordion-yellow, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*----- Section Titles -----*/
.accordion-section-title,
.accordion-section-title-red,
.accordion-section-title-blue,
.accordion-section-title-green,
.accordion-section-title-purple,
.accordion-section-title-yellow {
    text-decoration: none;
    color: black;
    background: #dbdbdb;
    padding: 1.5px;
    border-radius: 4px;
    font-family: "plantagenet cherokee", serif;
}

.accordion-section-title-red {
    background: #FF6F6F;
}

.accordion-section-title-blue {
    background: #BCC7E5;
}

.accordion-section-title-green {
    background: #BFEFBF;
}

.accordion-section-title-purple {
    background: #A988B0;
}

.accordion-section-title-yellow {
    background: #FDF0BD;
}

.accordion-section:last-child .accordion-section-title,
.accordion-section-red:last-child .accordion-section-title-red,
.accordion-section-blue:last-child .accordion-section-title-blue,
.accordion-section-green:last-child .accordion-section-title-green,
.accordion-section-purple:last-child .accordion-section-title-purple,
.accordion-section-yellow:last-child .accordion-section-title-yellow {
    border-bottom: none;
}

a.accordion-section-title::after,
a.accordion-section-title-red::after,
a.accordion-section-title-blue::after,
a.accordion-section-title-green::after,
a.accordion-section-title-purple::after,
a.accordion-section-title-yellow::after {
    content: "[+]";
    font-size: 14px;
    vertical-align: middle;
}

a.accordion-section-title.active::after,
a.accordion-section-title-red.active::after,
a.accordion-section-title-blue.active::after,
a.accordion-section-title-green.active::after,
a.accordion-section-title-purple.active::after,
a.accordion-section-title-yellow.active::after {
    content: "[-]";
    font-size: 14px;
    vertical-align: middle;
}

/*----- Section Content -----*/
.accordion-section-content,
.accordion-section-content-red,
.accordion-section-content-blue,
.accordion-section-content-green,
.accordion-section-content-purple,
.accordion-section-content-yellow {
    padding: 15px;
    display: none;
    background: whitesmoke;
    border-radius: 5px;
    margin: 1em 0;
    /*type*/
    font-size: 12pt;
    color: black;
    font-family: "plantagenet cherokee", serif;
}

.accordion-section-content-red {
    background: #FF9999;
}

.accordion-section-content-blue {
    background: #E6EBF8;
}

.accordion-section-content-green {
    background: #E6FAE6;
}

.accordion-section-content-purple {
    background: #C9B3CD;
}

.accordion-section-content-yellow {
    background: #FFF8DE;
}

.accordion-section-content-yellow.open {
    display: block !important;
    /*border: 1px solid magenta;*/
}