*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "plantagenet cherokee", serif;
    background: #B9E4B2;
    color: #000000;
    overflow-x: hidden;
    padding-bottom: 50px;
    letter-spacing: .03em;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 2.6rem;
    margin: auto;
    letter-spacing: .2em;
    vertical-align: middle;
}

.quote-indent {
    text-indent: .75rem;
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #000000;
    content: open-quote;
    font-size: 4em;
    line-height: 0.01em;
    margin-right: 0.05em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #000000;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.05em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background: #B9E4B2;
    padding: 45px 0 25px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

/* SIDEBAR
_________________________________________*/

.sidebar-bomb {
    position: fixed;
    right: 25%;
    top: 31%;
}

/

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: #3A8D2D;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    border-radius: 6px;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #3A8D2D;
}

.timeline ul li #dresden {
    position: relative;
    bottom: 0;
    width: 900px;
    padding: 15px;
    background: #db253b;
    left: -439px;
    z-index: 1000;
}

.timeline ul li #date_odd_red,
.timeline ul li #date_odd_green,
.timeline ul li #date_odd_orange,
.timeline ul li #date_odd_blue
{
    position: relative;
    bottom: 0;
    width: 326px;
    padding: 15px;
    left: -156px;
    z-index: 1000;
}

.timeline ul li #date_odd_red {
    background: #db253b;
}

.timeline ul li #date_odd_green {
    background: #3A8D2D;
}

.timeline ul li #date_odd_blue {
    background: #4e73b7;
}

.timeline ul li #date_odd_orange {
    background: #feb356;
}

.timeline ul li #date_even {
    position: relative;
    bottom: 0;
    width: 326px;
    padding: 15px;
    background: pink;
    left: -155px;
    z-index: 1000;
}

.timeline ul li #date_even_red,
.timeline ul li #date_even_green,
.timeline ul li #date_even_orange,
.timeline ul li #date_even_blue {
    position: relative;
    bottom: 0;
    width: 326px;
    padding: 15px;
    left: -155px;
    z-index: 1000;
}

.timeline ul li #date_even_red {
    background: #db253b;
}

.timeline ul li #box_red_odd,
.timeline ul li #box_red_even {
    background: #ea4d5f;
}

.timeline ul li #date_even_green {
    background: #3A8D2D;
}

.timeline ul li #box_green_odd,
.timeline ul li #box_green_even {
    background: #5fae52;
}
.timeline ul li #date_even_blue {
    background: #4e73b7;
}

.timeline ul li #box_blue_even,
.timeline ul li #box_blue_odd {
    background: #7394CF;
}

.timeline ul li #date_even_orange {
    background: #feb356;
}

.timeline ul li #box_orange_odd,
.timeline ul li #box_orange_even {
    background: #ffc379;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(even) #dresden::before,
.timeline ul li:nth-child(odd) #dresden::before,
.timeline ul li:nth-child(odd) #date_odd_red::before,
.timeline ul li:nth-child(odd) #date_odd_green::before,
.timeline ul li:nth-child(odd) #date_odd_blue::before,
.timeline ul li:nth-child(odd) #date_odd_orange::before,
.timeline ul li:nth-child(even) #date_even_red::before,
.timeline ul li:nth-child(even) #date_even_green::before,
.timeline ul li:nth-child(even) #date_even_blue::before,
.timeline ul li:nth-child(even) #date_even_orange::before {
    left: -15px;
    /*right: -15px;*/
    border-width: 8px 16px 8px 0;
    border-color: transparent transparent transparent transparent;
}

.timeline ul li:nth-child(odd) div {
    /*left: -439px;*/
    right: -45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    /*right: -15px;*/
    border-width: 8px 16px 8px 0;
    border-color: transparent #3A8D2D transparent transparent;
}

.timeline ul li:nth-child(even) #box_red_even::before {
    border-color: transparent transparent transparent #ea4d5f;
}

.timeline ul li:nth-child(odd) #box_red_odd::before {
    border-color: transparent #ea4d5f transparent transparent;
}

.timeline ul li:nth-child(even) #box_green_even::before {
    border-color: transparent transparent transparent #5fae52;
}

.timeline ul li:nth-child(odd) #box_green_odd::before {
    border-color: transparent #5fae52 transparent transparent;
}

.timeline ul li:nth-child(even) #box_orange_even::before {
    border-color: transparent transparent transparent #ffc379;
}

.timeline ul li:nth-child(odd) #box_orange_odd::before {
    border-color: transparent #ffc379 transparent transparent;
}

.timeline ul li:nth-child(even) #box_blue_even::before {
    border-color: transparent transparent transparent #7394CF;
}

.timeline ul li:nth-child(odd) #box_blue_odd::before {
    border-color: transparent #7394CF transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #3A8D2D;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* TIMELINE DATE
__________________________*/

/*.timedate {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
  }

.timedate::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timedate div {
    position: static;
    transform: translateX(-50%);
    bottom: 0;
    width: 84px;
    padding: 15px;
    background: #F45B69;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:50%;
    margin-top: 10px;
}

.timedate.date {
    position: static;
    transform: translateX(-50%);
    bottom: 0;
    width: 84px;
    padding: 15px;
    background: #F45B69;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 50%;
}*/

.timedate ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    background: white;
}

/*.timedate ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}*/

.timedate ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #3A8D2D;
}

.timedate ul li div.date {
    position: static;
    transform: translateX(-50%);
    bottom: 0;
    width: 84px;
    padding: 15px;
    background: #3A8D2D;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 50%;
}

/*.timedate ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}*/

/*.timedate {
    position: static;
    transform: translateX(-50%);
    bottom: 0;
    width: 77px;
    padding: 15px;
    background: #F45B69;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 50%;
}*/

/* EFFECTS
––––––––––––––––––––––––––––––––––––––––––––––––––

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #F45B69;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}
*/

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #3A8D2D transparent transparent;
    }
}